@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script type="text/javascript" src="~/js/timeoutFast.js"></script>

<div class="text-center pt-5 pb-3">
    <h1 class="font-weight-bold">Transaksi Berjaya</h1>
    <p>Terima Kasih kerana menggunakan perkhidmatan kiosk zakat</p>
</div>

<div class="container text-center pt-5">
    <form asp-action="sendWhatsApp">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </form>
</div>